[Unit]
Description=dbus reactor
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/local/bin/dbus-reactor
Restart=always
Environment=QT_QPA_PLATFORM=wayland
Environment=WAYLAND_DISPLAY=wayland-0
Environment=XDG_RUNTIME_DIR=/run/user/1000
